@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: "Raleway-italic";
    src: url(../fonts/Raleway-Italic-VariableFont_wght.woff);
    src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf) format("truetype");
}


/* Mise en place couleur et taille des textes */
:root {
    --background-color: brown;
    --background-title-color: #cdaa7f;
    --background-address-color: #301d2a;
    --font-size-text: 0.9em;
    --font-size-h2: 1.2em;
}